# MongoDB Configuration
#MONGODB_URI=mongodb+srv://viswa8455_db_user:sXPmwq1GkpinNLIi@clusster1.mucblze.mongodb.net/?retryWrites=true&w=majority&appName=Clusster1
#MONGODB_NAME = "attendancs_db"
# JWT Configuration
#JWT_SECRET_KEY=f9a8b8e0a8f8d8c0b8e0a8f8d8c0b8e0a8f8d8c0b8e0a8f8d8c0b8e0a8f8
#JWT_ALGORITHM=HS256
#JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
#SECRET_KEY="09d25e094faa6ca2556c818166b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7"
# ... your other variables

# --- TWILIO CREDENTIALS ---
#TWILIO_ACCOUNT_SID="AC8189d00580541dbaac9b752f4e8b0462"
#TWILIO_AUTH_TOKEN="f9144a74f4b70af2e4b5aeaae6eee2f2"
#TWILIO_VERIFY_SERVICE_SID="VA426ddbb6bb38b1756303fcde75b35e88"

#SENDGRID_API_KEY="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"
#SENDER_EMAIL="SatyaKrishna019@proton.me"

#RECOGNITION_THRESHOLD="0.92"