fastapi
uvicorn
python-dotenv
pymongo
passlib[bcrypt]
python-jose[cryptography]
sendgrid
twilio
pytz
python-multipart
# Add your specific face recognition libraries below (e.g., numpy)
numpy
opencv-python
mediapipe
face-recognition
